.css-result-background {
    background-color: blueviolet;
    width: 350px;
    height: 350px;

}

.css-result {
    margin: 20px 20px;
    width: inherit;
}

.inline {
    display: flex;
}

.control {
    margin-left: 20px;
}

.model {
    background-color: mediumblue;
    margin: 20px 32px;
}

.model-input-box {
    height:50px;
    width: 100px;
}

.model-circle {    
    height:200px;
    width: 200px;
}

#borderRadiusDisplay{
    margin-left: 20px;
    margin-right: 20px;
}